<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
    <h1>Выберите раздел</h1>
    <p><a> Конкретный пользователь (пытался сделать красиво, но знаний в фронте нет, так что вручную ввод айди в URL формата: 'http://127.0.0.1:8000/users/1')  </a>
        <input type="number" placeholder="Введите ID"/>
            <form action="http://127.0.0.1:8000/users/<form>">
            <input type="submit">
            </form>
        </p>
    
    <p><a href = 'http://127.0.0.1:8000/users/list/'> Все пользователи </a></p>
    <p><a href = 'http://127.0.0.1:8000'>< Назад </a></p>
</body>
</html>